
name: Deploy to Yandex Cloud (Hardcore Mode)

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    
    - name: Install YC CLI Manually
      run: |
        curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash
        echo "/home/runner/yandex-cloud/bin" >> $GITHUB_PATH

    
    - name: Auth in Yandex Cloud
      run: |
        echo '${{ secrets.YC_SA_JSON_CREDENTIALS }}' > sa-key.json
        yc config profile create sa-profile
        yc config set service-account-key sa-key.json

    
    - name: Build and Push Docker Image
      env:
        CR_REGISTRY: crpkd0tmhdvc903q3vcp  
        CR_REPOSITORY: flappy-k8s
        IMAGE_TAG: ${{ github.sha }}
      run: |
        yc container registry configure-docker
        docker build -t cr.yandex/$CR_REGISTRY/$CR_REPOSITORY:$IMAGE_TAG .
        docker push cr.yandex/$CR_REGISTRY/$CR_REPOSITORY:$IMAGE_TAG

    
    - name: Install kubectl
      uses: azure/setup-kubectl@v3

    
    - name: Deploy to K8s
      env:
        CR_REGISTRY: crpkd0tmhdvc903q3vcp  
        CR_REPOSITORY: flappy-k8s
        IMAGE_TAG: ${{ github.sha }}
      run: |
        # Получаем доступ к кластеру
        yc managed-kubernetes cluster get-credentials --id catg7jnf6f1gdsu6moo4 --external --force
        
        # Меняем картинку и деплоим
        sed -i "s|IMAGE_PLACEHOLDER|cr.yandex/$CR_REGISTRY/$CR_REPOSITORY:$IMAGE_TAG|g" k8s/deployment.yaml
        kubectl apply -f k8s/deployment.yaml
        kubectl apply -f k8s/service.yaml

